@fontface {
  font-family: 'PT Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Sans')
}

.App {
  font-family: 'PT Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.teste{
  position: absolute;
  right: 50%;
  bottom: 50%;
  color: #000;
  padding: 20px;
  font-size: 40px;
  z-index: 50;
}

button{

}

.mg-container{
  padding-top: 30px;
  padding-bottom: 80px;
}

.mg-bottom-50{
  margin-bottom: 50px;
}

.mg-bottom-30{
  margin-bottom: 30px;
}

.space{
  line-height: 40px;
}

.text-center{
  text-align: center !important;
}

h2{
  text-align: center;
  margin-top: 50px !important;
  margin-bottom: 80px !important;
}

.slide{
  width: 100%;
}

.slide-text{
  height: 960px;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-position: center center;
}

.bg-1 {
  background-image: url(./img/img.jpeg);
}

.bg-2 {
  background-image: url(./img/img2.jpeg);
}

.bg-3 {
  background-image: url(./img/img3.jpeg);
}

.bg-4 {
  background-image: url(./img/img4.jpeg);
}

.separador {
  width: 300px;
  height: 5px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-slider {
  margin-top: 15px !important;
  padding: 15px 40px !important;
  font-size: 18px !important;
}

.descricao-slide {
  text-align: center;
  padding: 0px 100px;
}

.text-center {
  text-align: center;
}

.mg-top-50{
  margin-top: 50px;
}

.icon-company{
  font-size: 50px;
  color: #2196f3;
}

.title-confidence{
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Contact*/
.ipt{
  padding: 15px 15px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 0px 15px #eaeaea !important;
  -moz-box-shadow: 0px 0px 15px #eaeaea !important;
  box-shadow: 0px 0px 15px #eaeaea !important;
  display:inline-block !important;
  border: 1px solid #eaeaea !important;
}
.ipt:focus{
  -webkit-box-shadow: 0px 0px 15px #cdcdcd !important;
  -moz-box-shadow: 0px 0px 15px #cdcdcd !important;
  box-shadow: 0px 0px 15px #cdcdcd !important;
  display:inline-block !important;
  border: 1px solid #cdcdcd !important;
}
.icon-contact{
  font-size: 25px;
  color: #333 !important;
}
.btn-send{
  padding: 10px 25px !important;
  border-radius: 3px !important;
  border: 1px solid #007bff !important;
  width: 100%;
}
.btn-send:hover{
  -webkit-box-shadow: 0px 0px 15px #007bff !important;
  -moz-box-shadow: 0px 0px 15px #007bff !important;
  box-shadow: 0px 0px 15px #007bff !important;
  display:inline-block !important;
  border: 1px solid #007bff !important;
}
.btn-send:focus{
  -webkit-box-shadow: 0px 0px 15px #007bff !important;
  -moz-box-shadow: 0px 0px 15px #007bff !important;
  box-shadow: 0px 0px 15px #007bff !important;
  display:inline-block !important;
  border: 1px solid #007bff !important;
}
.loading {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.sucesso {
  text-align: center;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #155724;
}

/*Navbar*/
.nav{
  background: #fff;
  opacity: 0.9;
  font-size: 14px !important;
  border-bottom: 1px solid #eaeaea;
}
.btn-phone{
  font-size: 14px !important;
}
.icon-phone{
  font-size: 20px !important;
}
.menu-item{
  margin-right: 20px;
  margin-right: 10px;
}
.menu-item:hover{
  text-decoration: underline !important;
}

/*Company*/
.img-company{
  width: 100%;
  max-width: 960px;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 3px;
  border: 1px solid #cdcdcd;
}

/*Choose*/
.bg-choose{
  background-color: #eaeaea;
}
.icon-choose{
  font-size: 60px;
  color: #2196f3 !important;
  border: 1px solid #2196f3;
  border-radius: 50%;
  padding: 5px;
}

/*Comments*/
.comment{
  padding-left: 20%;
  padding-right: 20%;
}
.slide-comments{
  padding-bottom: 80px;
}
.img{
  height: 100px;
  display: inline !important;
  margin-bottom: 20px;
  border-radius: 10px;
}

/*Parallax*/
.parallax-text{
  background: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 3px;
  text-align: center;
}
.btn-consulta{
  padding: 10px 25px!important;
  border-radius: 3px!important;
  background-color: #28a745 !important;
  color: #fff!important;
}
.box-consulta { 
  margin-top: 30px;
  margin-bottom: 15px;
}

/*Services*/
.icon-service{
  color: #66D37E;
  font-size: 25px;
}

/*Footer*/
.footer{
  text-align: center;
  border-top: 1px solid #eaeaea;
}
.logo-footer{
  margin: 60px 0px;
}
.footer-copyright{
  padding: 30px 0px;
  background-color: #eaeaea;
}
