@fontface {
  font-family: 'PT Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Sans')
}

.App {
  font-family: 'PT Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button{
  border: none !important;
  background: #fff;
  size: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.mg-container{
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.mg-bottom-50{
  margin-bottom: 50px;
}

.space{
  line-height: 40px;
}

.text-center{
  text-align: center !important;
}

h2{
  text-align: center;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/*Contact*/
.ipt{
  padding: 15px 15px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 0px 15px #eaeaea !important;
  -moz-box-shadow: 0px 0px 15px #eaeaea !important;
  box-shadow: 0px 0px 15px #eaeaea !important;
  display:inline-block !important;
  border: 1px solid #eaeaea !important;
}
.ipt:focus{
  -webkit-box-shadow: 0px 0px 15px #cdcdcd !important;
  -moz-box-shadow: 0px 0px 15px #cdcdcd !important;
  box-shadow: 0px 0px 15px #cdcdcd !important;
  display:inline-block !important;
  border: 1px solid #cdcdcd !important;
}
.icons{
  font-size: 30px;
  color: #333 !important;
  margin: 15px 30px 15px 0px;
}
.btn-send{
  padding: 10px 25px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 0px 15px #007bff !important;
  -moz-box-shadow: 0px 0px 15px #007bff !important;
  box-shadow: 0px 0px 15px #007bff !important;
  display:inline-block !important;
  border: 1px solid #007bff !important;
}
.btn-send:focus{
  -webkit-box-shadow: 0px 0px 15px #007bff !important;
  -moz-box-shadow: 0px 0px 15px #007bff !important;
  box-shadow: 0px 0px 15px #007bff !important;
  display:inline-block !important;
  border: 1px solid #007bff !important;
}

/*Navbar*/
.nav{
  background: #fff;
  opacity: 0.9;
  font-size: 14px !important;
  border-bottom: 1px solid #eaeaea;
}
.btn-phone{
  font-size: 14px !important;
}
.icon-phone{
  font-size: 20px !important;
}
.menu-item{
<<<<<<< HEAD
  margin-right: 20px;
=======
  margin-right: 10px;
>>>>>>> 7175adcb52724cfa238617b214a7d5d4ea25ce39
}
.menu-item:hover{
  text-decoration: underline !important;
}

/*Company*/
.img-company{
  width: 65%;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #eaeaea;
}

/*Choose*/
.bg-choose{
  background-color: #eaeaea;
}
.icon-choose{
  font-size: 60px;
  color: #2196f3 !important;
  border: 1px solid #2196f3;
  border-radius: 50%;
  padding: 5px;
}

/*Parallax*/
.parallax-text{
  background: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 3px;
  text-align: center;
}
.btn-consulta{
  padding: 10px 25px !important;
  border-radius: 3px !important;
  margin-top: 15px;
}

/*Footer*/
.footer{
  padding: 20px 0px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}
