@fontface {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.App {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button{
  border: none !important;
  background: #fff;
  size: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.mg-container{
  margin-top: 30px;
  margin-bottom: 80px;
}

.space{
  line-height: 40px;
}

.btn-phone{
  font-size: 14px !important;
  margin-top: 2px;
}

.icon-whatsapp{
  font-size: 20px !important;
}

h2{
  text-align: center;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/*Contact*/
.ipt{
  padding: 15px 15px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 0px 15px #eaeaea !important;
  -moz-box-shadow: 0px 0px 15px #eaeaea !important;
  box-shadow: 0px 0px 15px #eaeaea !important;
  display:inline-block !important;
  border: 1px solid #eaeaea !important;
}
.ipt:focus{
  -webkit-box-shadow: 0px 0px 15px #cdcdcd !important;
  -moz-box-shadow: 0px 0px 15px #cdcdcd !important;
  box-shadow: 0px 0px 15px #cdcdcd !important;
  display:inline-block !important;
  border: 1px solid #cdcdcd !important;
}
.icons{
  font-size: 25px;
  color: #333 !important;
}

/*Navbar*/
.nav{
  background: #fff;
  opacity: 0.9;
  font-size: 14px !important;
  border-bottom: 1px solid #eaeaea;
}

/*Parallax*/
.parallax-text{
  background: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.8;
  border-radius: 3px;
}

/*Footer*/
.footer{
  padding: 20px 0px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}
